{% extends 'base.html' %}

{% block head %}
    <title>Home Page</title>
{% endblock head %}


{% block content %}    

 



<div class="border my-2 p-3">
  {% if request.user.is_authenticated %}
    
  {% else %}
    <div>
      <span class="text-secondary font-weight-bold">Register or Login to access extra features :</span>
      <a href="/account/login" class="btn btn-success"> Login </a>
      <a href="/account/register" class="btn btn-success"> Register </a>
    </div>  
    <div>
      
      <p>The Benifit of Login/Register</p>
      <ul class="text-secondary">
        <li>Tell us what you want and we will notify you if there is a product even in future.</li>
        <li>Add your own product</li>
        <li>Personalised Recommendations.</li>
        <li>Contact any owner.</li>
        <li>Ask Question about the product.</li>
      </ul>
    </div>
  {% endif %}
</div>


<div class="border my-3 px-3">    <!-- List of  Products that  are near by me as well just published -->
  <div class="pt-2 border-bottom">
    <h3><span class="font-weight-bold text-secondary">Products Available for Rent </span><a href="">see more</a></h3>
  </div>
  <div class="clearfix"> <!-- List of Products-->
    {% for product, profile_img in products %}
    <div class="float-left border m-1 p-1" style="width: 200px; height: 300px;">
      <a href="/product/view/{{product.id}}" class=" text-secondary">
        <div>
          <img src="{{profile_img.product_profile_img.url}}" alt="product-profile-image" class="mx-auto my-auto d-block w-100" height="180">
        </div>
        <div>
          <div style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; ">
            <span class="text-dark"><small>{{product.title}}</small></span>            
          </div>
          <span><span>&#8377;</span><span class="font-weight-bold">{{product.rent_rate}}/{{product.rent_type}}</span>
          <br>
          <span><span>&#8377;</span>{{product.deposit}} security</span>
        </div>
      </a>
      <!--  
      <div class="text-secondary">
        <small>
          <span>3km away</span>
          <span>&#x25cf;</span>
          <span>10min ago</span>
        </small>  
      </div>
      -->
    </div>
    {% endfor %}
  </div>  
</div>


<div class="border mt-2 p-2">
<div class="row">
  <div class="col-xl-4">
    <h3>The Benifits to Owner: </h3>
    <ul class="text-secondary">
      <li>Source of a Good Income.</li>
      <li>Use products that you no longer use for making money.</li>
    </ul>
  </div>
  
  <div class="col-xl-4">
    <h3>The Benifits to Customer: </h3>
    <ul class="text-secondary">
      <li>Save money</li>
      <li>Try a lot of New Things.</li>
    </ul>
    
  </div>
  
  <div class="col-xl-4">
    <h3>The Benifits to Socity: </h3>
    <ul class="text-secondary">
      <li>Reduce in Waste lead to save the nature and much more.</li>
      <li>Less Waste lead to save the nature</li>
    </ul>
    <a href="/product/add" class="btn btn-primary">Add a Product Now</a>
  </div>
</div>
</div>


{% endblock content %}






{% block js %}

    

{% endblock js %}