asgiref==3.8.1
boto3==1.26.59
botocore==1.29.165
certifi==2019.11.28
chardet==3.0.4
Django==4.1.5
django-appconf==1.0.3
django-contrib-postgres==0.0.1
django-crispy-forms==1.9.0
django-geoip==0.5.2.1
django-jquery==3.1.0
django-storages==1.13.2
geographiclib==1.50
geoip2==3.0.0
geopy==1.21.0
graypy==2.1.0
gunicorn==20.1.0
idna==2.9
jmespath==1.0.1
maxminddb==1.5.2
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2019.3
requests==2.23.0
s3transfer==0.6.2
setuptools==74.0.0
six==1.14.0
sqlparse==0.5.1
typing_extensions==4.7.1
urllib3==1.25.8
