{% extends 'login_or_register_base.html' %}

{% block content %}
  {% if validlink %}
    <h4>Change password</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Change password</button>
    </form>
  {% else %}
    <h4 class="text-danger">Invalid Token</h4>
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    <a href="{% url 'password_reset'%}" class="btn btn-secondary">Request a new password reset token</a>
  {% endif %}
{% endblock %}