{% extends 'base.html' %}

{% block head %}
    <title>{{product.title}}</title>
    <meta name="description" content="{{product.description}}">
    <meta name="author" content="{{product.user.full_name}}">
{% endblock head %}


{% block content %}

<br>

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">  <!--For the Images -->
        <div style="position: sticky; top:10px;">
            <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"> <!-- vertical side bar for all the images -->
                        <img src="{{profile_img.product_profile_img.url}}" alt="product-image" class="w-75 border m-1 p-1 btn" onmouseover="set_profile_img()" onclick="set_profile_img()">
                        {% for img in imgs %}
                            <img src="{{img.product_img.url}}" alt="product-image"  class="w-75 border m-1 p-1 btn" onmouseover="set_img(img = '{{img.product_img.url}}')" onclick="set_img(img = '{{img.product_img.url}}')">
                        {% endfor %}
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">  <!-- The Image which you will see in the center-->
                        <img src="{{profile_img.product_profile_img.url}}" id="product_img" class="mx-auto" alt="product-image" height="300" width="240">
                    </div>    
            </div>
        </div>

    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">  <!--Details about the product -->

        <!-- Show the messages here -->
        
        {% for message in messages %}
        <div>
            <p style="color: red"> {{ message }}</p>
        </div>     
        {% endfor %}


        <div class="text-secondary"> <!--We are here-->
            <small>
                <a href="/" class="text-secondary">Home</a>
                <span>&gt;</span>
                <a href="/category/{{product.category.id}}" class="text-secondary">{{product.category.category}}</a>
            </small>
            <small class="float-right"> <!-- Report about a product-->
                <a href="#" class="text-secondary">Report</a>
            </small>
        </div>

        
        <h3 class="font-weight-bold text-dark">{{product.title}}</h3>
        {% if distance %}
            <small>about <strong>{{distance}}km away</strong></small>
        {% else %}
            <!-- click here to get the distance from you -->
        {% endif %}
        <hr>
        <span>By <a href="/account/profile/{{product.user.id}}">{{product.user.full_name}}</a></span>
        
        <div> <!-- ₹ 1000/month Rent -->
            <span>&#8377</span> 
            <span class="text-dark font-weight-bold" style="font-size: 30px;">{{product.rent_rate}}</span>
            <span>/</span>
            <span class="text-dark font-weight-bold" style="font-size: 18px;">{{product.rent_type}}</span>
        </div>
        <div> <!--₹ 10000 Deposite -->
            <span> &#8377</span> 
            <span class="text-dark">{{product.deposit}} </span> 
            <span>Security Deposite</span>
        </div>

        <hr>
        <div>   <!-- product Description -->
            <span class="font-weight-bold">About The Product</span><br>
            <span  class="text-secondary">{{product.description}}</span>
        </div>
        <hr>
        
        <div>   <!-- Owner's Terms and Conditions -->
            <span class="font-weight-bold">Terms and Conditions</span><br>
            <span class="text-secondary">{{product.condition}}</span>
        </div>
        <hr>

        <!-- Any Questions about the product -->
        <span class="font-weight-bold">Question and Answers</span><br>
                <!-- For asking any question to the owner -->
        <form method="POST" action="/product/question/{{product.id}}" class="form-group">
            {% csrf_token %}
            <input type="text" class="form-control form-control-sm" name="question" placeholder="Ask any Question" required>
            <button class="btn btn-secondary btn-sm form-control">submit</button>
        </form>
        
                <!-- Display all the question and answers -->  
        {% for question_and_answer in all_question_and_answer %}
            <span>Q: </span><span class="text-secondary">{{question_and_answer.0.question}}</span>
                        <!-- In case the person who asked the question want to delete it -->
            {% if request.user == question_and_answer.0.who_is_asking %}
                <a href="/product/question/delete/{{question_and_answer.0.id}}" onclick="return confirm('Are you Sure?')"> delete my question</a>
            {% endif %}
            <br>
            {% if question_and_answer.1.answer %}
            <span>A: </span><span class="text-secondary">{{question_and_answer.1.answer}}</span><br>
            {% endif %}
        {% endfor %}

    </div>


    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12">  <!-- buttons for Save in cart and Contact owner-->
        <div class="mt-5" style="position: sticky; top: 30px">  <!-- buttons for Save in cart and Contact owner-->
            <div id="id_owner_detail_div" class="d-block">
                <span id="id_get_owner_detail" class="btn btn-primary d-block">Contact Owner</span>
            </div>
            <br>
                <span id="id_ajax_for_add_to_cart" class="btn btn-primary d-block">Add to Cart</span>        
            <br>
            <a href="" class="btn btn-primary d-block" >Share</a>        
        </div>
    </div>
</div>

<!-- Smilar Products -->    

<!-- Other Products from the Owner -->

{% endblock content %}


{% block js %}
<script>

    product_img = document.getElementById("product_img");
    function set_img(img) {
        product_img.src = img;
    }

    function set_profile_img() {    
        product_img.src = "{{profile_img.product_profile_img.url}}";
    }


    $("#id_get_owner_detail").click(function() {
        {% if request.user.is_authenticated %}
            $.post(
                url = '{% url "get_owner_contact_detail" %}',
                data = {
                    owner               : "{{product.user.id}}",
                    csrfmiddlewaretoken : "{{ csrf_token }}",
                },
                function (data) {  // success callback
                    if("phone_number" in data) {
                        $("#id_owner_detail_div").html("<span>Email: <strong>"+ data.email+"</strong></span><br><span>Phone Number: <strong>"+ data.phone_number+"</strong></span>")
                    } else {
                        $("#id_owner_detail_div").html("<span>Email: <strong>"+ data.email+"</strong></span>")
                    }
            });
        {% else %}
            var x = document.getElementById("snackbar");
            x.innerHTML = "Please Login...";
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        {% endif %}
    })


    
    $("#id_ajax_for_add_to_cart").click(function() {
        {% if request.user.is_authenticated %}
            // save in database    
            url = "/cart/ajax/add/{{product.id}}"
        {% else %}
            // save in session
            url = "/ajax/cart/add_in_session/{{product.id}}"
        {% endif %}
        
        $.get(
            url = url,
            function(response) {
                // call snackbar to show the response text
                var x = document.getElementById("snackbar");
                x.innerHTML = response.data;
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }
        )
    });

</script>
{% endblock js %}