{% extends 'base.html' %}

{% block head %}
    <title>Profile Details</title>
{% endblock head %}

{% block content %}
<div class="row">
    <div class="col-xl-4">

    </div>
    <div class="col-xl-4">
        <div class="border my-5 p-4">
            <h3 class="font-weight-bold text-center">Edit Profile Info</h3>
            <br>
                
            {% for message in messages %}
                <p style="color: red"> {{ message }}</p>    
            {% endfor %}
            
            <form action="" method="POST" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                {{name_change_form.as_p}}

                {% for field in info_form %}
                {{ field.label }}
                <br>
                {{ field }}
                <span class="help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
                <br>
            {% endfor %}

                <!-- When user filling his details for the first time -->
                {{form.as_p}}
                
                <button class="btn btn-success">Update</button>
                <a href= "/account/profile" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>



{% endblock content %}
