{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock head %}


{% block content %}

<div class="row">
    <div class="col-xl-2">

    </div>

    <div class="col-xl-9">
    <div class="profile-information border p-4 mx-auto my-5">
        <div class="row">
            <div class="col-xl-4">  <!-- user Prfo-->
                <img src="{{media_url}}{{user_info.profile_picture}}" alt="Profile Picture" class="rounded-circle" height="200" width="200">
            </div>
            <div class="col-xl-8">
                <h4 class="font-weight-bold">{{request.user.full_name}}</h4>
                <p class="text-secondary">
                    {{request.user.email}}        
                    {% if user_info.is_email_verified %}
                        <span class="text-success">verified</span>
                    {% else %}
                        <span><a href="" class="">Verify Now</a></span>
                    {% endif %}
                </p>
                <p class="text-secondary">
                    {{user_info.phone_number}}
                    {% if user_info.is_phone_number_verified %}
                        <span class="text-success">verified</span>
                    {% else %}
                        <span><a href="" class="">Verify Now</a></span>
                    {% endif %}
                </p>

                <a href="{% url 'password_change' %}" class="btn btn-secondary">Change Password</a>
                <a href="/account/edit_profile" class="btn btn-secondary">Edit Details</a>

            </div>
        </div>
    </div>

    <br>
    <br>


    <div class="owned-products py-1">
        <h2 class="text-center py-4 font-weight-bold border-bottom">List of Your Products</h2>
        
        {% if not products %}
            <div class="text-center mt-4">
                <h4>
                    <span>Don't Have Any Product...</span> 
                    <a href="/product/add" class="btn btn-warning">Add A Product Now</a>
                </h4>
            </div>
        {% endif %}
        
        <!--List of Owned Products-->
        {% for product, profile_img in products %}
            <div class="row">
                <div class="col-xl-4">      <!--product Profile Image-->
                    <div>
                        <a href="/product/view/{{product.id}}">
                            <img src="{{profile_img.product_profile_img.url}}" alt="product-profile-image" class="mx-auto my-auto mw-100 d-block" height="215">
                        </a>                
                    </div>
                </div>
                <div class="col-xl-8">  <!--product details-->
                    <div style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; ">
                        <a href="/product/view/{{product.id}}" class="font-weight-bold text-dark" style="font-size: 18px;">{{product.title}}</a>
                    </div>
                    
                    <div style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; ">
                        <span class="text-secondary">{{product.description}}</span>
                    </div>
                    <div>   <!-- Status - Public or Private-->
                        <span>Status - </span> 
                        {% if not product.publish %}
                            <span class="font-weight-bold">Private  </span>  
                            <a href="/product/change_publish/{{product.id}}">change</a>
                        {% else %}
                            <span class="font-weight-bold">Public  </span>
                            <a href="/product/change_publish/{{product.id}}">change</a>
                        {% endif %}
                    </div>
                    <div>   <!--₹ 100/month Rent -->
                        <span>&#8377</span> 
                        <span class="text-dark font-weight-bold" style="font-size: 30px;">{{product.rent_rate}}</span>
                        <span>/</span>
                        <span class="text-dark font-weight-bold" style="font-size: 18px;">{{product.rent_type}}</span>
                    </div>
                    <div>   <!--₹ 10000 Deposite -->
                        <span> &#8377</span> 
                        <span class="text-dark">{{product.deposit}} </span> 
                        <span class="text-secondary">Security Deposite</span>
                    </div>
                    <br>    
                    <!--Buttons-->
                    <a href="" class="btn btn-secondary">Share</a>
                    <a href="/product/edit/{{product.id}}" class="btn btn-secondary">Edit Product</a>
                    <a href="/product/delete/{{product.id}}" class="btn btn-secondary"  onclick="return confirm('Are you Sure?');">Delete</a>
                </div>
            </div>    
            <hr>
        {% endfor %}
    </div>
</div>
</div>

{% endblock content %}
