{% extends 'login_or_register_base.html' %}

{% block head %}
  <title>Register - Redastic.com</title>
{% endblock head %}


{% block content %}

<form action="/account/register" method="post" class="form-group">
  {% csrf_token %}
  <h3>Create Account</h3>
  
  <label class=" w-100">
    <span>Your Name</span><br>
    <input type="text" name="full_name" class="form-control d-inline" required>
  </label>
  
  <label class=" w-100">
    <span>Email</span><br>
    <input type="email" name="email" class="form-control d-inline" required>
  </label>

  <label class="w-100">
    <span>Password</span> <br>
    <input type="password" name="password" class="form-control"required>
  </label>

  <label>
    <input type="checkbox" name="agree_terms" value="True" required checked>
    <span>I agree <a href="">Terms and conditions</a></span>
  </label>

  <br><br>
  <button class="btn btn-primary w-100">Continue</button>
</form>

  {% for message in messages %}
  <div>
    <p style="color: red"> {{ message }}</p>
  </div>     
  {% endfor %}

<br>
<p class="text-center">I Alreday have an account</p>
<a href="login" class="btn btn-secondary w-100">Login or Sign-in</a></p>

{% endblock content %}
</body>
</html>