<div class="footer bg-dark px-4 mt-5">
	<div class="subscribe d-block py-3">
		<form>
			<input type="text" name="subscribe_email" class="p-2 border" placeholder="Email Address">
			<button class="btn btn-outline-light p-2">Subscribe to our new updates</button>
		</form>
	</div>
	<div class="row">
		<div class="col-xl-4 col-md-4 col-lg-4 col-12">
            <span class="text-light font-weight-bold" style="font-size: 22px;">Explore</span>
            <ul class="nav flex-column">
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">Terms of Use</a>
                </li>
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">Contact us</a>
                </li>
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">Careers</a>
                </li>
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">Need Help</a>
                </li>
            </ul>
        </div>
        
        <div class="col-xl-4 col-md-4 col-lg-4 col-12">
            <span class="text-light font-weight-bold" style="font-size: 22px;">Follow Us</span>
            <ul class="nav flex-column">
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">YouTube</a>
                </li>
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">Facebook</a>
                </li>
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">Instagram</a>
                </li>
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">Twitter</a>
                </li>
            </ul>
		</div>


        <div class="col-xl-4 col-md-4 col-12 col-lg-4">
            <span class="text-light font-weight-bold" style="font-size: 22px;">Contact Us</span>
            <ul class="nav flex-column">
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">redastics@gmail.com</a>
                </li>
                <li class="nav-item">
			        <a href="#" class="nav-link text-light p-0">+91-70233 71838</a>
                </li>
                <li class="nav-item">
                    
                </li>
            </ul>
		</div>

	</div>
	<hr>	
	<span class="text-light font-weight-bold text-center d-block">@Redastic.com</span>
</div>
